/* Optimisation pour le logo */
#logoSite {
    width: 20%;
    max-width: 120px;
    height: auto;
}
img#offlogo{
    width: 60%;
    height: auto;
}

/* Offcanvas */
.custom-offcanvas-Height {
    width: 70%;
    max-width: 500px;
}

/* Corps du site */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #F9F9F9; /* Blanc cassé */
}

header {
    height: 13vh;
    min-height: 60px;
    background-color: #002B5B; /* Bleu foncé */
    /* color: white; */
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
}

footer {
    height: 10vh;
    background-color: #1ABFBC; /* Bleu foncé */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Navbar */
.navbar-toggler {
    background-color: #1ABFBC;
}

.navbar {
    padding: 10px;
    background-color: #002B5B; /* Bleu foncé */
}

.nav-link {
    color: #FF6D3B; /* Orange vif */
}

.nav-link:hover {
    color: #1ABFBC; /* Turquoise vif */
}

.offcanvas-body ul {
    list-style: none;
    padding-left: 0;
}

.offcanvas-body ul li {
    margin: 10px 0;
}

.offcanvas {
    background-color: #e9ecef; /* Gris clair */
    color: #002B5B;
}

.offcanvas-header {
    background-color: #1ABFBC;
    color: white;
}

.card-img-top {
    object-fit: cover;  /* Assure que l'image couvre l'espace sans déformer */
    height: 200px;      /* Spécifie une hauteur fixe */
    
}
